<template>
    <div>
      <h1>{{ msg }}</h1>
      <hr />
      <!-- <h1>{{ name }} {{ position }}</h1>
      <button v-on:click="changeName(19),changePosition('Student')">Change name</button> -->
      <p>Name:{{ name }} ,password: {{ password }}</p>
      <input type="text" @input="getInput($event,' Patnukao')">
      <input type="text" @input="getPassword">
    </div>
  </template>
  
  <script>
  // const msg = "Event Handlling"
      export default {
      name: "HandleVue",
      data () {
          return {
              msg: "Event Handlling",
              name: '',
              position: 'Developer',
              password:''
          }
      },
      
      methods: {
          changeName(ageParams) {
              this.name = 'Ohm 007'+ " , Age: " + ageParams
          },
          changePosition(positionNew) {
              this.position = positionNew
          },
          getInput(event,lastName) {
              this.name = event.target.value + lastName
              console.log(event)
          },
          getPassword(event) {
              this.password = event.target.value
              console.log(event)
          }
      }
  }
  </script>
  
  <style>
  
  </style>
  